@model WebLevent.Models.SanPham

@{
    int Id = Model.Id;

    ViewData["Title"] = "Chi tiết sản phẩm: "+Id ;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"> <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a> </li>
    <li class="breadcrumb-item"> <a class="nav-link" asp-area="Admin" asp-controller="SanPhams" asp-action="Index">Quản lý sản phẩm</a> </li>
    <li class="breadcrumb-item active">Chi tiết sản phẩm: @Id</li>
</ol>
<hr />
<div class="row py-5 g-5">
    <div class="col-12 col-lg-6">
        <img src="~/images/sanphams/@Model.Hinh" class="m-1 w-100 sliderMainImage shadow" data-bs-toggle="modal" data-bs-target="#imageModal" />
    </div>
    <div class="col-12 col-lg-6">
        <h2 id="productName"> <span class="fw-bold">Tên:</span> @Model.Name</h2>
        <h4 class="my-4"><span id="price"><span class="fw-bold">Giá:</span> @Model.Price.ToString("#,##0") </span>VNĐ</h4>
        <h4 class="my-4">
            <span id="price"><span class="fw-bold">Số lượng:</span> @Model.SoLgTn </span>@if (Model.SoLgTn.Value > 0)
            {
                <span class="badge rounded-pill bg-dark">In Stock</span>
            }
            else
            {
                <span class="badge rounded-pill bg-danger">Out Stock</span>
            }
        </h4>
        <h4 class="my-4"><span><span class="fw-bold">Ngày tạo:</span> @String.Format("{0:dd/MM/yyyy - hh:mm tt}",Model.DateTimeCreate)</span></h4>
        <h4 class="my-4"><span><span class="fw-bold">Ngày chỉnh sửa:</span> @String.Format("{0:dd/MM/yyyy - hh:mm tt}",Model.DateTimeEdit)</span></h4>
        <h4 class="my-4"><span><span class="fw-bold">Loại:</span> @Model.Loai.Name</span></h4>
        <div class="accordion">
            <div class="accordion-item">
                <h2>
                    <strong>Mô tả:</strong>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body"> @Model.Mota </div>
                </div>
            </div>
        </div>
        <div class="d-grid my-4">
            <a class="btn btn-lg btn-dark"asp-area="Admin" asp-controller="SanPhams" asp-action="Edit" asp-route-id="@Model?.Id">
                Chỉnh sửa
            </a>
        </div>
        <div class="d-grid my-4">
            <a class="btn btn-lg btn-danger" asp-area="Admin" asp-controller="SanPhams" asp-action="Delete" asp-route-id="@Model?.Id">
                Xóa
            </a>
        </div>
        <div class="d-grid my-4">
            <a class="btn btn-lg btn-dark" asp-area="Admin" asp-controller="SanPhams" asp-action="Index">
                Trở về danh sách
            </a>
        </div>
    </div>
</div>
